<div class="card my-5">
  <div class="card-body">
    <p id="notice"><%= notice %></p>

    <h1 class="text-center"><%= @post.text %></h1>
    <hr >
    

    <%= link_to 'Back', posts_path, class: 'btn btn-light' %>
  </div>
</div>